<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- top nav -->
<div th:fragment="header" class="topmenu-container">
    <a href="#a"><img src="/images/home/new목록.png" class="menu" alt="menu"></a>
    <a onclick="location.href='/home'"><img src="/images/home/meari-logo.png" class="meari-logo" alt="meari-logo"></a>
    <a href="#a"><img src="/images/home/DM.png" class="dm" alt="dm"></a>
    <a href="#a"><img src="/images/home/종.png" class="notice" alt="notice"></a>
</div>

<!-- bottom nav -->
<div th:fragment="footer" class="bottommenu-container">
    <a onclick="location.href='/home'"><img src="/images/home/1.png" class="icon" alt="icon"></a>
    <a onclick="location.href='/sns/feed'"><img src="/images/home/2.png" class="icon" alt="icon"></a>
    <a onclick="location.href=''"><img src="/images/home/3.png" class="icon" alt="icon"></a>
    <a onclick="location.href='/profile'"><img src="/images/home/4.png" class="icon" alt="icon"></a>
    <a onclick="location.href='/commerce'"><img src="/images/home/5.png" class="icon" alt="icon"></a>
</div>

</body>
</html>