<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스프링 시큐리티 데모</title>
</head>
<body>
<h1>스프링 시큐리티 데모</h1>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <li><a href="/user">User</a></li>
</div>
<div sec:authorize="!isAuthenticated()">
    <li><a href="/login">로그인</a></li>
</div>
</body>
</html>