<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <form action="/user/member" method="post">
        <div class="wrap">
            <div class="register">
                <div class="logo">
                    <a href="" target="_blank" title="메아리"><img src="/images/home/meari-logo.png" class="image"></a>
                </div>
                <div class="register_id">
                    <h4>아이디</h4>
                    <input type="text" name="member_id" id="" placeholder="아이디 입력">
                </div>
                <div class="register_email">
                    <h4>이메일</h4>
                    <input type="text" name="member_email" id="" placeholder="이메일 입력">
                </div>
                <div class="register_pw">
                    <h4>비밀번호</h4>
                    <input type="password" name="member_pw" id="" placeholder="비밀번호 입력">
                </div>

                <div class="register_pw_confirm">
                    <h4>비밀번호 확인</h4>
                    <input type="password" name="member_pw_corr" id="" placeholder="비밀번호 재입력">
                </div>

                <div class="register_name">
                    <h4>이름</h4>
                    <input type="text" name="member_name" id="" placeholder="이름 입력">
                </div>

                <div class="submit">
                    <input type="submit" value="회원가입">
                </div>

            </div>
        </div>
    </form>
</body>

</html>