<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커머스</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/commerce/commerce_write.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<form action="/post" method="post">
    <div class="wrap">
        <!-- top nav -->
        <div th:replace="common/common :: header" id="header"></div>

        <header>
            <p class="main">새 거래글</p>
            <p class="share">공유</p>
        </header>
        <section class="image">
            <img src="/images/commerce/commerce_img/spoon2.jpg" class="view1">
            <img src="/images/commerce/commerce_img/spoon3.jpg" class="view2">
            <img src="/images/commerce/commerce_img/spoon4.jpg" class="view3">
            <img src="/images/commerce/commerce_img/spoon5.jpg" class="view4">
        </section>
        <section class="info">
            <input type="text" class="title" placeholder="글 제목" name="title">
            <input type="button" class="category" value="카테고리 선택                                 >"
                onclick='alert("미구현")'>
            <input type="text" name="writer">
            <input type="text" class="price" placeholder="가격" name="price">
        </section>
        <section class="board">
            <textarea class="detail" cols="10" rows="10" name="content"></textarea>
        </section>
        <!-- bottom nav -->
        <div th:replace="common/common :: footer" id="footer"></div>

    </div>
</form>
</body>

</html>