<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커머스</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/commerce/commerce.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="wrap">
    <!-- top nav -->
    <div th:replace="common/common :: header" id="header"></div>
    <header>
        <!--Head-->
        <p class="main">내 근처</p>

        <div class="icons">
            <img class="search" img src="/images/commerce/commerce_img/searchIcon.png"></img>
        </div>
        <br>
        <p class="location">서울시 서초3동</p>
        <img class="location2" src="/images/commerce/commerce_img/location.png"></img>
        <!--Category-->
        <div class="category">
            <div class="buttonControl">
                <button class="category1">등산화</button>
                <button class="category1">시계</button>
                <button class="category1">등산스틱</button>
                <button class="category1">정글모</button>
                <button class="category1">아이젠</button>
                <button class="category1">등산복</button>
            </div>
        </div>
    </header>
    <section class="board">
        <div class="feed_btn">
            <a target="_blank"><img src="/images/sns/plus.png"></a>
        </div>
        <div class="post">
            <img class="goods" src="/images/commerce/commerce_img/shoes1.jpg">
            <div class=content >
                <a>
                    <ul class="title" >신발팝니다</ul>
                </a>
                <ul class="name" >명수찬</ul>
                <ul class="price" >109,000</ul>
                <ul class="date">날짜</ul>
            </div>
        </div>

    </section>

    <!-- bottom nav -->
    <div th:replace="common/common :: footer" id="footer"></div>

</div>

</body>

</html>